extends ./layout.jade
block contenido
	div(class="container")
		div(class="row")
			h1 Bienvenidos a FotoFacilito
			div(class=" col-sm-12 margin-edit")
				a(href="/login", class="btn btn-primary") Iniciar sesión
			div(class=" col-sm-12 margin-edit")
				a(href="/signup" class="btn btn-primary") Registrarse